# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env

# Banco de dados
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Logs
*.log